* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #000;
    --color-secondary: #aeaeae;
    --color-background: #fff;
    --color-highlight: cornflowerblue;
    --color-menu-background: dodgerblue;
    --color-menu-primary: white;
    --color-screenshot-border: black;

    --color-screenshot-shadow: rgba(227, 227, 14, 0.3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #fff;
        --color-secondary: #aeaeae;
        --color-background: #181a1b;
        --color-highlight: lightskyblue;
        --color-menu-background: midnightblue;
        --color-menu-primary: white;
        --color-screenshot-border: white;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
    /* font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font: 18px "Lucida Grande", "Lucida Sans Unicode", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    color: var(--color-highlight);
    text-decoration: none;
}

a:hover {
    color: var(--color-highlight-hover);
}

a, a:hover {
    transition: all 150ms ease;
}

/* Header */

header {
    --color-highlight: aliceblue;
    --color-highlight-hover: lightblue;
}

header {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
    background-color: var(--color-menu-background);
}

header .name {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-menu-primary);
}

header img.logo {
    width: 36px;
    height: 36px;
}

header nav {
    /* margin-left: auto; */
    margin-left: 50px;
    padding-right: 25px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

/* Hero and subhero */

.hero, .subhero {
    display: flex;
    padding: 20px 25px 30px;
}

/* Hero */

.hero {
    /* flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    /* padding-top: 150px; */

    flex: 1;
    justify-content: space-evenly;
}

.hero .text {
    align-self: center;
    padding-bottom: 30px;
}

.hero .text h1 {
    font-size: 100px;
    padding-bottom: 20px
}

.hero p {
    font-size: 25px;
}

.hero .logo {
    display: block;
    width: 400px;
    height: 400px;
    margin: 8px auto;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

/*.hero .screenshot {
    width: 500px;
    border: 10px solid var(--color-screenshot-border);
    border-radius: 5px;
    /* transform: rotate(15deg); /
}*/
/*
.hero .screenshot img {
    width: 100%;
    /* border: 10px solid; /
    border-radius: 5px;
    border-image: 
        conic-gradient(var(--color-screenshot-border) 0 0) /* border color /
        fill 5//5px; /* border thickness /
}*/

.hero .screenshot {
    width: 500px;
    padding: 8px; /* border thickness */
    background-color: var(--color-screenshot-border); /* border color */
    border-radius: 40px; /* outer border radius */
    display: inline-block;
    line-height: 0; /* prevents extra space below the image */
    box-shadow: 50px 50px 100px var(--color-screenshot-shadow);
}

.hero .screenshot img {
    width: 100%;
    border-radius: 40px; /* inner border radius */
    display: block;
}

@media (max-width: 480px) {
    .hero .logo  {
        width: 100px !important;
        height: 100px !important;
    }
}

/* Subhero */

.subhero {
    
}

.subhero .text {
    align-self: center;
    padding-top: 200px;
}

.subhero .image img {
    width: 500px;
    transform: rotate(45deg);
    /* transform: rotate3d(45, 1, 1, 45deg); */
}

#fernschreiber-to-ferniegram-logo {
    width: 500px;
    height: 500px;
}