/* Header */

header {
    --color-highlight: aliceblue;
    --color-highlight-hover: lightblue;
}

header {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
    background: var(--color-menu-background);
}

header .name {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-menu-primary);
}

header img.logo {
    width: 36px;
    height: 36px;
}

header nav {
    /* margin-left: auto; */
    margin-left: 50px;
    padding-right: 25px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

@media (max-width: 630px) {
    header {
        flex-direction: column;
    }

    header nav {
        margin-left: 0;
        padding-right: 0;
    }
}

/* Hero and subhero (misc) */

.hero, .subhero, .container {
    padding: 20px 25px 30px;
}

.hero, .subhero {
    display: flex;
}

@media (max-width: 800px) {
    .hero, .subhero {
        flex-direction: column;
    }
}

/* Hero */

.hero {
    /* flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    /* padding-top: 150px; */

    flex: 1;
    justify-content: space-evenly;
}

.hero .text {
    align-self: center;
    padding-bottom: 30px;
}

.hero .text h1 {
    font-size: 5em;
    text-align: center;
    padding-bottom: 20px;
}

.hero p {
    font-size: 25px;
    text-align: center;
}

.hero .logo {
    display: block;
    width: 400px;
    height: 400px;
    margin: 8px auto;
}

.hero .screenshot {
    width: 75%;
    max-width: 500px;
    align-self: center;
    padding: 8px; /* border thickness */
    background-color: var(--color-screenshot-border); /* border color */
    border-radius: 40px; /* outer border radius */
    display: inline-block;
    line-height: 0; /* prevents extra space below the image */
    box-shadow: 50px 50px 100px var(--color-screenshot-shadow);
}

.hero .screenshot img {
    width: 100%;
    aspect-ratio: 9/16;
    border-radius: 40px; /* inner border radius */
    display: block;
}

@media (max-width: 1000px) {
    .hero .logo {
        width: 300px;
        height: 300px;
    }

    .hero .text h1 {
        font-size: 4.5em;
    }
    .hero .text p {
        font-size: 22px;
    }
}

@media (max-width: 900px) {
    .hero .text h1 {
        font-size: 4em;
    }

    .hero .text p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .hero .logo  {
        width: 200px;
        height: 200px;
    }
}

/* Subhero */

.subhero .text {
    align-self: center;
    width: 100%;
}

.subhero .text h1 {
    padding-bottom: 10px;
}

.subhero .image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.subhero .image * {
    width: 250px;
    height: 250px;
}

@media (max-width: 1100px) {
    .subhero .image * {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 900px) {
    .subhero .image * {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 800px) {
    .subhero .text {
        padding-bottom: 40px;
    }

    .subhero .image * {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 600px) {
    .subhero .image * {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .subhero .image {
        flex-direction: column;
    }

    .subhero .image * {
        width: 300px;
        height: 300px;
        padding-bottom: 20px;
    }
}

/* Footer */

footer {
    padding: 0 10px;
    padding-bottom: 25px;
}

footer * {
    text-align: center;
}

footer h2 {
    padding-bottom: 20px;
}

footer p {
    color: var(--color-secondary);
}

/* Timeline */

.timeline-container .text {
    padding-bottom: 25px;
}

.timeline-container .text h1 {
    padding-bottom: 10px;
}

.timeline {
    overflow-x: auto;
}

.timeline-content {
    display: inline flex;
    flex-direction: column;
    white-space: nowrap;
}

.timeline .items-wrapper {
    display: inline flex;
}

.timeline .item {
    margin: 0 25px;
}

.timeline .item img {
    width: 200px;
    height: 200px;
}

.timeline .item h4 {
    font-weight: 100;
}

.timeline .item.highlighted h3 {
    color: var(--color-highlight);
}

.timeline .item.highlighted h4 {
    color: var(--color-highlight-hover);
}

.timeline-arrow {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.timeline-arrow .rectangle {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: var(--color-timeline-arrow);
}

.timeline-arrow .arrow-right {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    stroke: var(--color-timeline-arrow-end);
    fill: var(--color-timeline-arrow-end);
    margin-left: -25px;
}

#apps-timeline .timeline-arrow {
    width: 84%;
}

/* Conclusion */

.conclusion {
    text-align: center;
    padding-bottom: 40px;
}

.conclusion h1 {
    color: var(--color-conclusion);
    padding-bottom: 20px;
}

.conclusion h2 {
    color: var(--color-conclusion-description);
}